/* =========================================================================================================== */
/* Strat Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* === Responsive === */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* =========================================================================================================== */
/* Start Global Variables */
:root {
  --main-color: #19c8fa;
  --trans-color: #0f738f8c;
  --sec-pad: 100px;
}
/* End Global Variables */
/* =========================================================================================================== */
/* Start Component */
.main-heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 30px;
  color: #1f2021;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: "";
  background-color: #333;
  position: absolute;
  width: 120px;
  height: 2px;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.main-heading h2::after {
  content: "";
  background-color: #333;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  background: white;
  left: 50%;
  transform: translate(-50%);
  bottom: -37px;
}
.main-heading p {
  margin-bottom: 100px;
  max-width: 400px;
  font-size: 13px;
  color: #777;
  padding: 0px 10px;
}
/* End Component */
/* =========================================================================================================== */
/* Start header section  */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 1px;
  background-color: white;
  bottom: 0px;
  left: 15px;
}
header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header nav .toggle-menu {
  color: white;
  font-size: 4vh;
}
@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}
header nav ul {
  display: flex;
}
header .logo img {
  height: 40px;
}
header nav ul#dd.s {
  display: flex;
}
@media (max-width: 767px) {
  header nav ul#dd.s {
    display: none;
  }
  header nav .toggle-menu:hover + ul#dd.s {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.408);
  }
  header nav ul#dd.s li a {
    padding: 15px !important;
  }
}
header nav ul li a {
  color: white;
  display: block;
  padding: 40px 10px;
  transition: 0.3s;
  text-transform: uppercase;
  z-index: 2;
  position: relative;
}
header nav ul li a:hover,
header nav ul li a.active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header nav .form {
  height: 30px;
  width: 40px;
  border-left: 1px solid white;
  margin-left: 30px;
  position: relative;
}
header nav .form i {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(50% - 10px);
}
/* End header section */
/* =========================================================================================================== */
/* Start landing section  */
.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url("../images/landing.jpg");
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.397);
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--trans-color);
  color: white;
  display: flex;
  justify-content: flex-end;
}
.landing .text .content {
  max-width: 500px;
  margin-left: 50px;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
    height: calc(100% - 190px);
    align-items: center;
  }
  .landing .text .content {
    width: 100%;
    margin: 0;
  }
}
.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: center;
}
.landing .text .content p {
  font-size: 14px;
  line-height: 2;
  text-align: center;
}
@media (max-width: 767px) {
  .landing .text .content p {
    font-size: 2vb;
  }
  .landing .text .content h2 {
    font-size: 2.5vb;
  }
}
.landing .scroll {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}
@media (max-width: 767px) {
  .landing .scroll {
    display: none;
  }
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 30px;
  display: flex;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 10px;
}
.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* End landing section  */
/* =========================================================================================================== */
/* start Services section  */
.services {
  padding-top: var(--sec-pad);
  padding-bottom: var(--sec-pad);
}
@media (min-width: 768px) {
  .services .serv-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}
.services .container .box {
  display: flex;
}
.services .container .box i {
  margin-right: 50px;
}
@media (max-width: 767px) {
  .services .container .box {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .services .container .box i {
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }
}
.services .container .box h3 {
  margin-bottom: 30px;
  color: var(--main-color);
  font-size: 20px;
  font-weight: normal;
}
.services .container .box p {
  line-height: 2;
  color: #777;
  font-size: 13px;
  padding: 0px 10px;
}
/* End Services section  */
/* =========================================================================================================== */
/* start Services section  */
.desgin {
  padding-top: var(--sec-pad);
  padding-bottom: var(--sec-pad);
  height: 600px;
  position: relative;
  background-image: url("../images/design-features.jpg");
  overflow: hidden;
  background-size: cover;
  display: flex;
  align-items: center;
}
.desgin::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.397);
}
.desgin .image,
.desgin .text {
  position: relative;
  z-index: 2;
  flex: 1;
}
.desgin .image {
  text-align: center;
}
@media (max-width: 767px) {
  .desgin .image {
    display: none;
  }
}
.desgin .image img {
  position: relative;
  bottom: -150px;
}
.desgin .text {
  color: white;
  padding: 50px;
  background-color: var(--trans-color);
}
.desgin .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center;
}

.desgin .text ul li {
  padding: 15px 0;
}
.desgin .text ul li::before {
  font-family: "Font Awesome 5 free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}
/* end Services section  */
/* =========================================================================================================== */
/* Start Protofolio section  */
.proto {
  padding-top: var(--sec-pad);
  padding-bottom: var(--sec-pad);
}
.proto .shuffle {
  display: flex;
  justify-content: center;
}
.proto .shuffle li {
  padding: 10px;
}
.proto .shuffle li.active {
  background-color: var(--main-color);
  color: white;
}
.proto .imges-cont {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.proto .imges-cont .box {
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.proto .imges-cont .box:hover .caption {
  bottom: 0px;
}
.proto .imges-cont .box:hover img {
  transform: rotate(3deg) scale(1.1);
}
@media (max-width: 767px) {
  .proto .imges-cont .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .proto .imges-cont .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .proto .imges-cont .box {
    flex-basis: 25%;
  }
}
.proto .imges-cont .box img {
  max-width: 100%;
  transition: 0.3s;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.proto .imges-cont .box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
  bottom: -100%;
}
.proto .imges-cont .box .caption h4 {
  margin-bottom: 10px;
  font-weight: normal;
}
.proto .imges-cont .box .caption p {
  color: var(--main-color);
}
.proto .more {
  background-color: var(--main-color);
  color: white;
  padding: 15px 20px;
  display: block;
  width: fit-content;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin: 30px auto;
}
/* End Protofolio section  */
/* =========================================================================================================== */
/* Strat Video section  */
.video {
  position: relative;
}
.vedio::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /40%);
}
.video video {
  width: 100%;
}
.video .text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  background-color: var(--trans-color);
  color: white;
  text-align: center;
}
.video .text h2 {
  font-weight: normal;
  margin: 0 0 30px;
  text-transform: uppercase;
}
.video .text p {
  margin-bottom: 30px;
}
.video .text button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
}
/* End Video section  */
/* =========================================================================================================== */
/* Start About section  */
.about {
  padding-top: var(--sec-pad);
  overflow: hidden;
  text-align: center;
}
.about img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .about img {
    bottom: -60px;
    margin-top: -60px;
  }
}
@media (min-width: 768px) {
  .about img {
    bottom: -80px;
    margin-top: -80px;
  }
}
@media (min-width: 992px) {
  .about img {
    bottom: -120px;
    margin-top: -120px;
  }
}
/* End About section  */
/* =========================================================================================================== */
/* Start stats */
.stats {
  padding-top: var(--sec-pad);
  padding-bottom: var(--sec-pad);
  text-align: center;
  background-image: url("../images/stats.png");
  max-width: 100%;
  background-size: cover;
  position: relative;
}
.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /70%);
}
.stats .container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.stats .container .box {
  color: white;
  padding: 50px;
  background-color: var(--trans-color);
}
@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}
.stats .container .box .icons {
  background-image: url("../images/ss.svg");
  background-size: cover;
  position: relative;
  width: 40px;
  height: 40px;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 20px;
}
.stats .container .box .icons i {
  color: white;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}
.stats .container .box .number {
  font-size: 50px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}
.stats .container .box p {
  font-size: 13px;
  color: white;
}
/* End stats */
/* =========================================================================================================== */
/* Start Skills */
.skill-section {
  padding-top: var(--sec-pad);
  padding-bottom: var(--sec-pad);
}
.skill-section .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .skill-section .container > div {
    flex-basis: 45%;
  }
}
.skill-section .container > div > h3 {
  margin: 0 0 30px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
.skill-section .container > div > p {
  color: #777;
  line-height: 2;
  text-align: center;
  margin-bottom: 60px;
  font-size: 14px;
}
.skill-section .container .content {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.skill-section .container .content img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-right: 50px;
  filter: drop-shadow(0px 4px 4px rgb(0, 0, 0, 0.6));
}
@media (max-width: 767px) {
  .skill-section .container .content {
    flex-direction: column;
    text-align: center;
  }

  .skill-section .container .content img {
    margin: 0 auto 20px;
  }
}
.skill-section .content .text {
  border-bottom: 1px solid #ccc;
  line-height: 1.8;
  box-shadow: 0px 3px 4px -6px rgba(0, 0, 0, 0.642);
  padding: 5px;
}
.skill-section .teste .text p {
  color: #777;
  text-align: right;
  font-size: 14px;
  margin-bottom: 10px;
}
.skill-section .bullets {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.skill-section .bullets li {
  width: 14px;
  height: 14px;
  border: 1px solid rgb(5, 5, 5);
  border-radius: 50%;
  margin: 10px;
}
.skill-section .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.skill-section .skills .prog-holder {
  margin-bottom: 40px;
}
.skill-section .prog-holder h4 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}
.skill-section .skills .prog-holder .prog {
  background-color: #dedadc;
  height: 30px;
}
.skill-section .skills .prog-holder .prog span {
  display: block;
  width: 90%;
  height: 100%;
  background-color: var(--main-color);
  position: relative;
}
.skill-section .skills .prog-holder .prog span::before {
  content: attr(data-progress);
  background-color: black;
  color: white;
  position: absolute;
  border-radius: 4px;
  top: -40px;
  right: -18px;
  padding: 4px 0px;
  text-align: center;
  border-radius: 4px;
  width: 40px;
}
.skill-section .skills .prog-holder .prog span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: black transparent transparent;
  right: -8px;
  top: -15px;
}
/* End Skills */
/* =========================================================================================================== */
/* start quote */
.qoute {
  padding-top: var(--sec-pad);
  padding-bottom: var(--sec-pad);
  background-image: url(../images/quote.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}
.qoute::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000a5;
}
.qoute .container {
  position: relative;
}
.qoute .container q {
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
}
/* End quote */
/* =========================================================================================================== */
/* Strat Pricing */
.pricing {
  padding-top: var(--sec-pad);
  padding-bottom: var(--sec-pad);
}
.pricing .container .box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.pricing .container .box .plan {
  background-color: #eee;
  text-align: center;
}
.pricing .container .box .plan .head {
  padding: 40px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .container .box .plan .head h3 {
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.pricing .container .box .plan .head span {
  font-size: 60px;
  font-weight: 600;
}
.pricing .container .box .plan .head span::before {
  content: "$";
  font-size: 30px;
  font-weight: normal;
  position: relative;
  top: -40px;
}
.pricing .container .box .plan .head span::after {
  content: "/Mo";
  font-size: 30px;
  position: relative;
  right: -15px;
}
.pricing .container .box .plan ul {
  border-bottom: 1px solid var(--main-color);
}
.pricing .container .box .plan ul li {
  padding: 20px;
  position: relative;
}
.pricing .container .box .plan ul li:not(:last-child)::after {
  content: "";
  width: 140px;
  height: 1px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
}
.pricing .container .box .plan .foot a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid var(--main-color);
  width: fit-content;
  margin: 30px auto;
}
.pricing .contact-text {
  text-align: center;
  margin: 50px auto 20px;
  font-size: 20px;
}
.pricing .contact-link {
  display: block;
  width: fit-content;
  margin: 20px auto;
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}
/* End Pricing */
/* =========================================================================================================== */
/* start subscribe */
.sub {
  padding-top: var(--sec-pad);
  padding-bottom: var(--sec-pad);
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  position: relative;
  color: white;
}
.sub::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.514);
}
.sub .container {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .sub .container {
    flex-direction: column;
  }
}
.sub .container form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}
.sub .container form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
  /* color: white;  */
}
.sub .container form input[type="email"] {
  border: 1px solid white;
  background-color: transparent;
  padding: 20px 20px 20px 60px;
  caret-color: var(--main-color);
  width: calc(100% - 130px);
  border-right: none;
}

.sub .container form input[type="submit"] {
  width: 130px;
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  text-transform: uppercase;
  border-left: none;
}
.sub .container form input[type="email"]:focus,
.sub .container form input[type="submit"]:focus {
  outline: none;
}
.sub form::placeholder {
  color: white;
}
@media (max-width: 991px) {
  .sub .container P {
    margin: 30px 0 0;
  }
}
.sub P {
  line-height: 2;
  margin-left: 50px;
  width: 50%;
}
/* end subscribe */
/* =========================================================================================================== */
/* Start Contact  */
.contact {
  padding-top: var(--sec-pad);
  padding-bottom: var(--sec-pad);
}
.contact .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact .content {
    flex-direction: column;
  }
}
.contact .content form {
  flex-basis: 70%;
}
.contact .content form .main-input {
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}
.contact .content form .main-input:focus {
  outline: none;
}
.contact .content form textarea.main-input {
  height: 200px;
}
.contact .content form input[type="submit"] {
  color: white;
  padding: 20px;
  display: flex;
  border: none;
  margin-left: auto;
  text-transform: uppercase;
  cursor: pointer;
  background: var(--main-color);
}
.contact .content .info {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .contact .content .info {
    order: -1;
    text-align: center;
  }
}
.contact .content .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}
.contact .content .info .phone {
  display: block;
  color: var(--main-color);
  margin-bottom: 10px;
}
.contact .content .info h4:nth-of-type(2) {
  margin-top: 100px;
}
@media (max-width: 767px) {
  .contact .content .info h4:nth-of-type(2) {
    margin-top: 30px;
  }
}
.contact .content .info address {
  color: #777;
  line-height: 2;
}
@media (max-width: 767px) {
  .contact .content .info address {
    margin-bottom: 30px;
  }
}

/* END Contact  */
/* =========================================================================================================== */
/* Start Footer */
.footer {
  padding-top: var(--sec-pad);
  padding-bottom: var(--sec-pad);
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
}
.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.footer .container {
  position: relative;
}
.footer .container p:not(.copyright) {
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid white;
  font-size: 24px;
  width: fit-content;
  margin: 20px auto;
}
.footer .social-icons i {
  padding: 10px 15px;
}
.footer .copyright {
  margin-top: 60px;
}
.footer img {
  margin: 0 0 20 0;
}
.footer .copyright span {
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer */
